In [1]:
import pandas as pd
import numpy as np

In [61]:
hh_data = pd.read_csv("inputs/melbourne/hts_12_18/H_VISTA_1218_V1.csv")
hh_data = hh_data.dropna()
hh_data.columns

Index(['HHID', 'SurveyPeriod', 'TRAVDOW', 'TRAVMONTH', 'DayType', 'DWELLTYPE',
       'OWNDWELL', 'HHSIZE', 'HHINC', 'VISITORS', 'AVEAGE', 'YOUNGEST',
       'OLDEST', 'YEARSLIVED', 'MONTHSLIVED', 'ADULTBIKES', 'KIDSBIKES',
       'TOTALBIKES', 'CARS', 'FOURWDS', 'UTES', 'VANS', 'TRUCKS', 'MBIKES',
       'OTHERVEHS', 'TOTALVEHS', 'WDHHWGT', 'WEHHWGT', 'HOMELGA',
       'HomeSubRegion', 'HomeRegion', 'HOMEPC'],
      dtype='object')

In [52]:
COLLECT_COLUMNS = [
   "HHID",
   "HHSIZE",
   "CARS",
   "WDHHWGT",
   "WEHHWGT",
   "HOMELGA"
]

In [53]:
hh_data = hh_data[COLLECT_COLUMNS]

In [54]:
hh_data.replace(' ', 0, inplace = True)

In [55]:
hh_data.WDHHWGT = hh_data.WDHHWGT.map(float)
hh_data.WEHHWGT = hh_data.WEHHWGT.map(float)

In [56]:
len(hh_data[hh_data.WDHHWGT != 0].HOMELGA.unique())

32

In [57]:
hh_data

              HHID  HHSIZE  CARS  WDHHWGT  WEHHWGT         HOMELGA
0      Y12H0000101     4.0   2.0    96.38     0.00  Whittlesea (C)
1      Y12H0000102     4.0   3.0    97.00     0.00  Whittlesea (C)
2      Y12H0000103     4.0   2.0    97.86     0.00  Whittlesea (C)
3      Y12H0000104     3.0   3.0    98.35     0.00  Whittlesea (C)
4      Y12H0000107     3.0   1.0     0.00   307.89  Whittlesea (C)
...            ...     ...   ...      ...      ...             ...
25135  Y18H3130532     4.0   3.0    53.32     0.00    Brimbank (C)
25136  Y18H3130534     3.0   2.0     0.00   147.86    Brimbank (C)
25137  Y18H3130539     4.0   1.0    53.32     0.00    Brimbank (C)
25138  Y18H3130540     2.0   1.0    53.30     0.00    Brimbank (C)
25139  Y18H3130541     2.0   2.0     0.00   147.86    Brimbank (C)

[25140 rows x 6 columns]

In [43]:
geo = pd.read_csv('inputs/melbourne/geography/MB_2016_VIC.csv')

In [44]:
geo

,MB_CODE_2016,MB_CATEGORY_NAME_2016,SA1_MAINCODE_2016,SA1_7DIGITCODE_2016,SA2_MAINCODE_2016,SA2_5DIGITCODE_2016,SA2_NAME_2016,SA3_CODE_2016,SA3_NAME_2016,SA4_CODE_2016,SA4_NAME_2016,GCCSA_CODE_2016,GCCSA_NAME_2016,STATE_CODE_2016,STATE_NAME_2016,AREA_ALBERS_SQKM
0,20000009499,NOUSUALRESIDENCE,29999949999,2949999,299999499,29499,No usual address (Vic.),29999,No usual address (Vic.),299,No usual address (Vic.),29499,No usual address (Vic.),2,Victoria,0.0000
1,20000010000,Education,20403106914,2106914,204031069,21069,Bright - Mount Beauty,20403,Wodonga - Alpine,204,Hume,2RVIC,Rest of Vic.,2,Victoria,0.0127
2,20000021000,Commercial,20403106902,2106902,204031069,21069,Bright - Mount Beauty,20403,Wodonga - Alpine,204,Hume,2RVIC,Rest of Vic.,2,Victoria,0.0127
3,20000022000,Commercial,20403106902,2106902,204031069,21069,Bright - Mount Beauty,20403,Wodonga - Alpine,204,Hume,2RVIC,Rest of Vic.,2,Victoria,0.0105
4,20000023000,Commercial,20403106902,2106902,204031069,21069,Bright - Mount Beauty,20403,Wodonga - Alpine,204,Hume,2RVIC,Rest of Vic.,2,Victoria,0.0105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85009,27000003777,SHIPPING,29797979993,2979993,297979799,29799,Migratory - Offshore - Shipping (Vic.),29797,Migratory - Offshore - Shipping (Vic.),297,Migratory - Offshore - Shipping (Vic.),29799,Migratory - Offshore - Shipping (Vic.),2,Victoria,0.0000
85010,27000004777,SHIPPING,29797979993,2979993,297979799,29799,Migratory - Offshore - Shipping (Vic.),29797,Migratory - Offshore - Shipping (Vic.),297,Migratory - Offshore - Shipping (Vic.),29799,Migratory - Offshore - Shipping (Vic.),2,Victoria,0.0000
85011,27000005777,SHIPPING,29797979993,2979993,297979799,29799,Migratory - Offshore - Shipping (Vic.),29797,Migratory - Offshore - Shipping (Vic.),297,Migratory - Offshore - Shipping (Vic.),29799,Migratory - Offshore - Shipping (Vic.),2,Victoria,0.0000
85012,28000000778,MIGRATORY,29797979991,2979991,297979799,29799,Migratory - Offshore - Shipping (Vic.),29797,Migratory - Offshore - Shipping (Vic.),297,Migratory - Offshore - Shipping (Vic.),29799,Migratory - Offshore - Shipping (Vic.),2,Victoria,0.0000
85013,29000000779,OFFSHORE,29797979992,2979992,297979799,29799,Migratory - Offshore - Shipping (Vic.),29797,Migratory - Offshore - Shipping (Vic.),297,Migratory - Offshore - Shipping (Vic.),29799,Migratory - Offshore - Shipping (Vic.),2,Victoria,0.0000